/* START ************************************************/
div#startPage{
 
}

h1#startTitle{
	margin-top: 10%;
	font-size: 56px;
}

button#start{
	margin-top: 30%;
}

/* Top ************************************************/

div#top{
border-bottom: 2px solid black;
}



/*  DAY *************************************************/

div#dayContainer {
	padding-top:2%;
}
input#dayStartTimeBox {
	width: 60px;
	text-align: center;
	font-size: 14px;
}
ul.dayActivity {
	height:410px;
	border:2px dashed #888888;
	display: block;
}
ul#activitiesContainer, ul#addActivity, ul.dayActivity {
	list-style-type: none;
	display: block;
	padding: 0;
}

.dayObject{
	padding-left: 20px;
}

#deleteDay{
	margin-bottom: 10px;
	margin-right: 5px;
	float: right;
	width: 60px;
}

#dayBreaks{
	float:right;
}

div#dayStartTime, div#addDayEndTime, div#dayTotalLength{
	margin-bottom: 10px;
}


/*  ADDACTIVITY *************************************************/
div#activities {
	border-right: 1px solid #888888;
	padding-top: 25px;
	height: 100%;
	position: fixed;

}

ul#activitiesContainer {
	height: 75%;
	border: 2px solid #888888;
}

div#addButtonContainer {
	padding-top:2%;
	margin:2%;

}

li#activity.activityObject { 
	height: 27px; 
	color:#000;
	margin:0;
	padding:0;
}

div#activityName{
	height:auto;
	text-align: center;
	color:#FFFFFF;
	font-weight: bold;
}
.Presentation {
	/*border:2px solid #527ACC;*/
	background-color: #E0EBFF;
}
.Discussion{
	/*border:2px solid #799679;*/
	background-color: #CCCCCC;
}
.Break {
	/*border:2px solid #CCCC52;*/
	background-color: #99D6AD;
}
.Group {
	/*border:2px solid #991F00;*/
	background-color: #FFD6CC;
}

textarea {
	resize:none;
}

/*  ADDACTIVITY POPUP ***********************************************************/
div#popup {
	height: auto;
	padding-top:2%;
}

/* buttons ***********/

button#addActivityButton{
	background-color: #80CC80;
}
button#addDayButton{
	background-color: #80CC80;
	display: block; 
	margin: 20px auto;
	padding: 20px auto;
}

button#cancelActivity{
margin-right: 10px!important; 

}

div#deleteDialog{
	background-color: white;
	border:2px solid #991F00;

}


